server:
  port: 8807

spring:
  application:
    name: device-definition
  datasource:
    url: jdbc:postgresql://localhost:5432/file_storage
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: com.umasuo.database.dialect.JSONBPostgreSQLDialect
    show-sql: false
    hibernate:
      ddl-auto: update
  http:
    multipart:
      max-file-size: 1MB
      max-request-size: 1MB

jwt:
  secret: QWERTYUIOPASDFGHJKLZXCVBNM
  expires: 72000

file:
  root-path: http://localhost:8807